body {
  min-height: 100vh;
  background-color: rgb(36, 35, 35);
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

header {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  align-self: stretch;
  align-items: center;
  flex-wrap: wrap;
}

.score-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gameboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  gap: 20px;
  background-color: white;
  color: black;
}

.card:hover {
  cursor: pointer;
  box-shadow: 1px 1px 5px 0px #ffffff9e;
}

img {
  max-height: 175px;
  max-width: 140px;
  margin-top: auto;
}

.card-caption {
  margin-top: auto;
}

.gameover {
  background-color: #255290;
  color: white;
  padding: 30px;
  border-radius: 10px;
  font-size: 17px;
  width: 50vw;
}

.emoji {
  font-size: 30px;
}