.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  align-self: stretch;
  align-items: center;
}

.score-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gameboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  gap: 20px;
}

.card:hover {
  cursor: pointer;
  box-shadow: 2px 1px 0px 0px #00000042;

}

img {
  max-height: 175px;
}

.gameover {
  background-color: #255290;
  color: white;
  padding: 30px;
  border-radius: 10px;
  font-size: 17px;
  width: 50vw;
}

.emoji {
  font-size: 30px;
}